body{
    width:500px;
    background-color:white;
    text-align:center;
    font-family: sans-serif;
    margin:auto 0;
}
.title{
    width: 100%;
    background-color:darkblue;
}

.title h1{
    text-size: 30px;
    color: white;   
}

main{
    width:50%;
     background-color: white;
}
aside{
    width: 25%;
    position: absolute;
    right: 50px;
}

.footer{
    background-color: darkblue;
    width: 100%;
}
.img{
    color: white;
    background-color: cornflowerblue;
}