body{
    width:1500px;
    background-color: darkblue;
    text-align:center;
    font-family: sans-serif;
    margin:auto;
}
.title{
    width: 100%;
    background-color:darkblue;
}

.title h1{
    color: white;   
}

main{
    width:50%;
}
aside{
    width: 25%;
}

.footer{
    background-color: darkblue;
    width: 100%;
}
.img{
    color: white;
    width:500px;
    height:500px;
    background-color: cornflowerblue;
}