body{
    width:1250px;
    background-color: darkblue;
}
.title{
    background-color:darkblue;
}

.title h1{
    color: white;
    font-family: sans-serif;
}

main{
    width:500px;  
}
aside{
    position: absolute;
    right: 100px;
}